<!DOCTYPE html>
<html>
<head>
  <title>R82</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <h1><%= link_to "ROR Lab", root_path %></h1>
</div>

<div id="trunk">
  <%= yield %>
</div>

<div id="footer">
  - Biweekly Lecture on <%= Date.today %> -
</div>

</body>
</html>
